@import "tailwindcss";

:root {
  --background: #FFF8F0;
  --foreground: #171717;
  --color-secondary-background: #ffffff;
  --color-primary-text: #000000;
  --color-secondary-text: #363636;
  --color-highlight: #93140D;
  --glass-card-bg: #ffffff;
  --border-highlight: rgba(147, 20, 13, 0.1)
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--color-primary-text);
  --color-secondary-background: var(--color-secondary-background);
  --color-secondary-text: var(--color-secondary-text);
  --color-highlight: var(--color-highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --glass-card-bg: var(--glass-card-bg);
}


body {
  background: var(--background);
  color: var(--color-primary-text);
  font-family: Arial, Helvetica, sans-serif;
}
